<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Deployment Tutorial 1</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body style="background: #000;">
 <div class="login">
	<h2>Forecasting</h2>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="mintempm_1" placeholder="t - 1  " required="required" />
        <input type="text" name="mintempm_2 " placeholder="t - 2 " required="required" />
		<input type="text" name="mintempm_3 " placeholder="t - 3 " required="required" />
        <input type="text" name="maxdewptm_1" placeholder="t - 1 " required="required" />
        <input type="text" name="maxdewptm_3 " placeholder=" t - 3 " required="required" />
		<input type="text" name="maxdewptm_3 " placeholder="t - 3 " required="required" />
        <input type="text" name="mindewptm_1" placeholder="t - 1" required="required" />
        <input type="text" name="maxtempm_1 " placeholder="t - 1" required="required" />


        <button type="submit" class="btn btn-primary btn-block btn-large">Predict </button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>

</body>
</html>
